
{{^ignore}}

{{#rstReference}}
.. _{{rstReference}}:
{{/rstReference}}

{{#h3}}{{#private}}Private {{/private}}``{{name}}``{{/h3}}

{{description}}

{{ #properties }}

{{#h4}}{{name}}{{/h4}}
{{description}}

{{ /properties }}

{{/ignore}}