{{#h1}}{{package.name}}{{/h1}}

{{package.description}}

{{#h2}}JavaScript API Reference{{/h2}}

.. toctree::
   :maxdepth: 2

   {{#pre}}
   {{>toctreeChildren}}
   {{/pre}}

{{#readme}}
{{#h2}}README{{/h2}}

------------------------

{{.}}
{{/readme}}
